<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="Vue.js"></script>
    <script>
        window.onload = function(){
            new Vue({
                el:'#box',
                data:{
                    arr:['appple','banana','orange'],
                    JSON:{a:'apple',b:'banana',c:'orange'}
                }
            })
        }
    </script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="value in arr">{{value}}  {{$index}}</li> 
        </ul>
        <hr>
        <ul>
            <li v-for="(k,v) in JSON">{{key}}  {{v}}</li>
        </ul>
    </div>
</body>
</html>